@import "tailwindcss";
@config "../../tailwind.config.mjs";

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .hero-background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .crisp-image {
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
  }
}